.Input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.Label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
}

.InputElement {
	outline: none;
	border: 2px solid #CCC;
	background-color: white;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.InputElement:focus {
	outline: none;
	background-color: #CCC;
}


.Invalid {
	border: 2px solid red;
	background-color: #ffa7a6;
}

.ValidationError {
	color: red;
	margin: 5px 0;
}

.ValidationError span {
	text-transform: capitalize
}
